
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

/* Mobile First Navbar */
nav {
    display: flex;
    flex-direction: column;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 10px;
    border: 1px solid lightgray;
    margin-bottom: 5px;
}

/* Desktop View */
/* @media (min-width: 768px) {
    nav {
        flex-direction: row;
        gap: 30px;
    }

    nav a {
        margin-bottom: 0;
    }
} */

/* Heading */
h1 {
    margin-top: 20px;
}

/* Image */
img {
    width: 300px;
    max-width: 100%;
    border-radius: 50px;
}

/* Video */
video {
    width: 50vw;
    max-width: 100%;
    background-color: blue;
    padding: 10px;
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid gray;
    padding: 10px;
    text-align: center;
}

/* Button */
button {
    background-color: blue;
    color: white;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

/* Mobile First Grid */
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.box {
    background-color:lightblue;
    padding: 20px;
    text-align: center;
}

/* Desktop Grid */
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
    }
}